.random-planet {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 214px;
  margin-bottom: 50px;
  padding: 0;
  background-color: transparent;
  /* background-color: #222; */
}

.random-planet-image-wrapper {
  display: flex;
  width: 40%;
  height: auto;
  max-height: 300px;
  margin-right: 20px;
  object-fit: cover;
}

.random-planet .planet-image {
  border-radius: 50%;
  box-shadow: 10px 5px 25px #00bc8c;
  animation: rotate 15s linear infinite;
}

.random-planet-content {
  width: 65%;
  padding: 20px 28px;
  background-color: #303030;
  background: linear-gradient(90deg, #000 0%, 50%, #222 100%);
  border-radius: 8px;
}

.random-planet-title {
  margin-bottom: 20px;
  text-align: center;
}

.random-planet-id {
  font-size: 0.7em;
  font-style: italic;
  color: #ccc;
}

.random-planet-list-item {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 0.5rem;
  background-color: transparent;
}

.random-planet .list-group-item .term {
  font-style: italic;
}
