.random-planet {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 214px;
  padding: 0;
}

.random-planet .planet-image {
  width: 35%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

.random-planet-content {
  width: 100%;
  padding: 20px;
}

.random-planet-title {
  margin-bottom: 20px;
  text-align: center;
}

.random-planet-id {
  font-size: 0.7em;
  font-style: italic;
  color: #ccc;
}

.random-planet-list-item {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 0.5rem;
}

.random-planet .list-group-item .term {
  font-style: italic;
}
