.random-planet {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  min-height: 214px;
  margin-bottom: 50px;
  padding: 0;
  background-color: transparent;
}

.random-planet-image-wrapper {
  display: flex;
  flex-shrink: 0;
  object-fit: cover;
}

.random-planet-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 10px 5px 25px #00bc8c;
  animation: rotate-reverse 20s linear infinite;
}

@media (min-width: 900px) {
  .random-planet-image {
    width: 240px;
    height: 240px;
  }
}

.random-planet-content {
  flex-grow: 1;
  padding: 20px 28px;
  background-color: #303030;
  background: linear-gradient(90deg, #000 0%, 50%, #222 100%);
  border-radius: 8px;
}

.random-planet-title {
  margin-bottom: 20px;
  text-align: center;
}

.random-planet-id {
  font-size: 0.7em;
  font-style: italic;
  color: #ccc;
}

.random-planet-list-item {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 0.5rem;
  background-color: transparent;
}

.random-planet .list-group-item .term {
  font-style: italic;
}

@keyframes rotate-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
