.item-details {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 235px;
}

.item-details-image {
  width: 40%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

.item-details-content {
  background: linear-gradient(90deg, #000 0%, 50%, #222 100%);
}

.item-details-title {
  margin-bottom: 16px;
  text-align: center;
}

.item-details-item {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: transparent;
}

.item-details-term {
  font-style: italic;
}
